html body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
body{
    padding-bottom: 100px;
}
#title{
    text-align: center;
}
.numeric{
    color: #417586;
}
#container{
    margin-top: 100px;
    background-color: #fff;
    height: auto;
    width: 430px;

   /* padding: 30px;*/
    /*border-radius: 25px 25px 5px 5px;*/
   /* border: 1px solid rgb(49,209,169, 1);;*/
    box-shadow: -2px 1px 60px 0px #00abe5

}
#display{
    background-color: #fff;
    height: 150px;
    display:flex;
    align-items: end;
    justify-content: right;
    background-color: #00abe5;
    
    /*border: 1px solid rgb(49,209,169, 1);*/
}
#display_text{
    padding-right: 10px;
    color: white;
    font-size: 1.9em;
    max-width: 430px;

}
#buttons_container{
    display: grid;
    grid-template-columns: 0px repeat(4,1fr) 0px;
    grid-template-rows: 0px repeat(5,1fr) 0px;
    height: 500px;
   /* margin-top: 10px;*/
}

.calc_buttons{
    padding: 10px 10px 10px 10px;
    border: 0;
    background-color: #fff;
    color: #00abe5;
    font-size: 1.6em;

}
button:active,
button:focus,
button.active,
button:active:focus {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.functionbtns{
    background-color: #dcf5fe;
}
#divide_btn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#mul_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}
#minus_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}
#add_btn{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

}
#equal_btn{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: #95e2fd;
    color: white;
    font-weight: bold;

}

#seven_btn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#eight_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#nine_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
#four_btn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#five_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
#six_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
#one_btn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
#two_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
#three_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

#zero_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}
#dot_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

#backspace_btn{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
#clear_btn{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;

}
#hidden{
    height: 0px;
    width: 0px;
    position: relative;
    margin-top: -50px;
    z-index: -99;
}