html body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    padding: 20px;
    text-align: center;
}

#container{
    margin-top: 50px;
    background-color: #fff;
    height: auto;
    width: 300px;
    padding: 30px;
    border-radius: 25px 25px 5px 5px;
    border: 1px solid rgb(49,209,169, 1);;
    box-shadow: 2px 4px 4px rgb(49,209,169, 0.5);

}
#display{
    background-color: #fff;
    height: 50px;
    display:flex;
    /*align-items: center;
    justify-content: right;*/

    border: 1px solid rgb(49,209,169, 1);;
}
#display_text{
    padding-right: 5px;
    color: rgb(49,209,169, 1);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
#buttons_container{
    display: grid;
    grid-template-columns: 0px repeat(4,1fr) 0px;
    grid-template-rows: 0px repeat(5,1fr) 0px;
    margin-top: 10px;
}

.calc_buttons{
    padding: 10px 10px 10px 10px;
    border: 0;
    background-color: #fff;
    color: rgb(49,209,169, 1);

}
button:active,
button:focus,
button.active,
button:active:focus {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.functionbtns{
    background-color: rgb(49,209,169, 0.2);
}
#divide_btn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#mul_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}
#minus_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}
#add_btn{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

}
#equal_btn{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: rgb(49,209,169, 0.8);
    color: #fff;

}

#seven_btn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#eight_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#nine_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
#four_btn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#five_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
#six_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
#one_btn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
#two_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
#three_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

#zero_btn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}
#dot_btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

#backspace_btn{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    color: rgb(255, 0, 0, 0.5);
}
#clear_btn{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;

}
#hidden{
    height: 0px;
    width: 0px;
    position: relative;
    margin-top: -50px;
    z-index: -99;
}